disnake
disnake[voice]
colorama
python-dotenv
psutil
humanize
aiohttp
mafic
aiosqlite
PyNaCl
youtube-dl
yt-dlp
ffmpeg-python
PyYAML
loguru
pytest
pytest-asyncio
pytest-cov
coverage
flake8
black
isort
mypy
pre-commit
bandit
safety
bump2version
twine
wheel
setuptools
requests
beautifulsoup4
lxml
pytest-mock
dave.py